*{
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

.contenedor{
  background: linear-gradient(rgb(177, 13, 150), rgb(89, 8, 136));
  height: 100%;
  padding-top: 5px;
}


h6, h5{
  line-height: 30px;
}

p{
  margin-left: 10px;
  margin-right: 10px;
}

.titulo{
  background-color: rgba($color: #000000, $alpha: 0.2);
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

ion-back-button{
  color: rgb(177, 13, 150);

}

ion-title{
  margin-left: center;
  color: rgb(177, 13, 150);
}
