<ion-header>
  <ion-toolbar>
    <ion-title>listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="contenedor">

    <h3>Horoscopo</h3>
    <ion-row>
      <ion-col>
        <ion-tab-button (click)="verSigno('aries')"> 
          <img src="assets/icon/aries.png" alt="logo aries">
          <ion-label>Aries</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col>
        <ion-tab-button (click)="verSigno('tauro')"> 
          <img src="assets/icon/taurus.png" alt="logo tauro">
          <ion-label>Tauro</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col>
        <ion-tab-button (click)="verSigno('geminis')"> 
          <img src="assets/icon/gemini.png" alt="logo geminis">
          <ion-label>Geminis</ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-tab-button (click)="verSigno('cancer')"> 
          <img src="assets/icon/cancer.png" alt="logo cancer">
          <ion-label>Cancer</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col>
        <ion-tab-button (click)="verSigno('leo')"> 
          <img src="assets/icon/leo.png" alt="logo leo">
          <ion-label>Leo</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col>
        <ion-tab-button (click)="verSigno('virgo')"> 
          <img src="assets/icon/virgo.png" alt="logo virgo">
          <ion-label>Virgo</ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-tab-button (click)="verSigno('libra')"> 
          <img src="assets/icon/libra.png" alt="logo libra">
          <ion-label>Libra</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col>
        <ion-tab-button (click)="verSigno('escorpion')"> 
          <img src="assets/icon/scorpio.png" alt="logo escorpio">
          <ion-label>Escorpion</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col>
        <ion-tab-button (click)="verSigno('sagitario')"> 
          <img src="assets/icon/sagittarius.png" alt="logo sagitario">
          <ion-label>Sagitario</ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-tab-button (click)="verSigno('capricornio')"> 
          <img src="assets/icon/capricorn.png" alt="logo capricornio">
          <ion-label>Capricornio</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col>
        <ion-tab-button (click)="verSigno('acuario')"> 
          <img src="assets/icon/aquarius.png" alt="logo aquario">
          <ion-label>Aquario</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col>
        <ion-tab-button (click)="verSigno('piscis')"> 
          <img src="assets/icon/piscis.png" alt="logo piscis">
          <ion-label>Piscis</ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>